* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d-flex {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 1rem;
    margin: auto;
}

textarea,
textarea:focus,
textarea:active,
textarea:hover,
button,
button:focus,
button:active,
button:hover {
    outline: none;
}

button {
    display: flex;
    margin-top: 1rem;
    padding: .5rem 1.7rem;
    margin-left: auto;
}

textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    resize: none;
    width: 100%;
    margin-top: 1rem;
}

#commentsList {
    margin-top: 1rem;
}

#commentsList li {
    background: #f7f7f7;
    border: 1px solid #e1dcdc;
    list-style: none;
    padding: 0.5rem;
    font-style: inherit;
    margin: 0.5rem 0;
}

#commentsList li a {
    background: #ebebeb;
    border: 1px solid #e1dcdc;
    list-style: none;
    padding: 0.5rem;
    display: inline-flex;
    margin-top: 0.5rem;
}